@import '../../utils/mixins/colors', '../../utils/mixins/debug';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
  max-height: inherit;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: $primary-dark-desat;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  transition: 0.1s;

  &:hover {
    // background-color: darken($cta-blue, 15%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
}