$primary-desat: #406176;
$primary-sat: #00385C;
$primary-dark: #04151f;
$primary-dark-desat: #0F2634;
$primary-light: #f2f5f7;
$primary-light-2: #f5f7f8;

$secondary: #8bcfff;
$secondary-light: #f3faff;